<h1>Would you like to work together?</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>School Address</h3>

		<p>2912 Executive Parkway Lehi, Ut 84043</p>

		<p>Phone</p>

		<p><%= number_to_phone "8014719222" %></p>

		<h3>Email</h3>

		<p><a href="mailto:mikesuprise1@gmail.com?subject=PortfolioContact">Email me</a> </p>
	</div>

	<div class="col-md-6">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.1424064491202!2d-111.89820824935029!3d40.42784547926249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752802ed15066bf%3A0x1027933f3c6618d8!2s2912+Executive+Pkwy%2C+Lehi%2C+UT+84043!5e0!3m2!1sen!2sus!4v1485285869295" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>